<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form th:method="post" th:action="@{/new}" th:object="${user}">
  <label for="name">Имя: </label>
  <input type="text" th:field="*{name}" id="name">
    <br/>
  <label for="lastname">Фамилия: </label>
  <input type="text" th:field="*{lastName}" id="lastname">
    <br/>
  <label for="age">Возраст: </label>
  <input type="text" th:field="*{age}" id="age">
  <br/>
  <input type="submit" value="Добавить"/>
</form>
<a th:href="@{/}">
  <input type="submit" value="Вернуться"></a>

</body>
</html>